<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiao.blog.common.dao.LogDao" >
    <insert id="save" parameterType="com.xiao.blog.common.domain.LogDO" useGeneratedKeys="true" keyProperty="id">
        insert into sys_log
        (
            `user_id`,
            `username`,
            `operation`,
            `time`,
            `method`,
            `params`,
            `ip`,
            `gmt_create`
        )
        values
        (
            #{userId},
            #{username},
            #{operation},
            #{time},
            #{method},
            #{params},
            #{ip},
            #{gmtCreate}
        )
    </insert>
</mapper>