<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiao.blog.system.mapper.UserMapper" >
    <select id="selectById" parameterType="long" resultType="com.xiao.blog.system.domain.UserDO">
    select
      `id`,`name`, `email`
    from
      user
    where id = #{id}
  </select>

    <insert id="save" parameterType="com.xiao.blog.system.domain.UserDO" useGeneratedKeys="true" keyProperty="id">
    insert into user
    (
      `name`,
      `email`
    )
    values (
      #{name},
      #{email}
    )
  </insert>

    <update id="updateById" parameterType="com.xiao.blog.system.domain.UserDO">
        update user
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="email != null">`email` = #{email}</if>
        </set>
        where id = #{id}
    </update>

</mapper>