<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>xiao 欢迎页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body class="panel panel-default">
    <div class="panel-heading">
        了解xiao 系统
    </div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>项目介绍</h3>
        <ul>
            <li>springboot 作为基础框架</li>
            <li>springboot 作为基础框架</li>
            <li>springboot 作为基础框架</li>
            <li>springboot 作为基础框架</li>
        </ul>
        <h3>获取源码</h3>
        <ul>
            <li>Github地址：</li>
            <li>码云地址：</li>
        </ul>
        <h3>官方QQ群：</h3>
        <ul>
            <li>群1：12452632</li>
            <li>群2：854633256</li>
            <li>群3：12452632</li>
            <li>群4：854633256</li>
        </ul>
    </div>
    <div>
        <button class="btn" onclick="openPage('http://www.baidu.com', 'www.baidu.com')">访问bootdo官网</button>
    </div>
</body>
<!--jquery.min.js: -->
<!--openTab.js：打开标签页-->
<script src="js/jquery.min.js"></script>
<script src="js/openTab.js"></script>
</html>